<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link href="style.css" rel="stylesheet">
</head>
<body>

<div class="jumbotron">
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>File Transfer Utility</strong>
            <small>Upload any file up-to 500 mb</small>
        </div>
        <div class="panel-body">

            <div id="upload_info">
                <div class="panel-heading">
                    <h3 class="panel-title alert-heading">Well done!</h3>
                </div>
                <div class="panel-body" id="p_msg">
                    Panel content
                </div>
            </div>
            <!-- Standar Form -->
            <h4>Select file from your computer</h4>
            <form method="POST" enctype="multipart/form-data" action="/">
                <div>
                    <div class="form-group">
                        <label>Select File</label>
                        <input id="file" type="file" name="file" class="form-control-file" required="true"/>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
                </div>
            </form>

        </div>
    </div>

    <!-- Progress Bar -->
    <div class="progress">
        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100"
             style="width: 0%;">
            0% Complete
        </div>
    </div>

    <!-- Upload Finished -->

    <div class="panel panel-primary">
        <div class="panel-heading">Processed files</div>
        <div class="panel-body">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
                 th:each="fileInfo,iter : ${fileDataMap.values()}">
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" th:id="'heading' + ${iter.index}">
                        <h4 class="panel-title">
                            <a
                                    role="button" data-toggle="collapse" data-parent="#accordion"
                                    th:href="'#collapseOne' + ${iter.index}" aria-expanded="true"
                                    th:aria-controls="'collapseOne' + ${iter.index}">
                                <span class="badge alert-success pull-right">Success</span>
                                [[${fileInfo.fileUrl}]]
                            </a>
                        </h4>
                    </div>
                    <div th:id="'collapseOne' + ${iter.index}" class="panel-collapse collapse" role="tabpanel"
                         th:aria-labelledby="'heading'+ ${iter.index}">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" style="background-color: #428bca">
                                        <div class="caption" style="color: white">
                                            <h3>Browser Details</h3>

                                            <ul class="list-group">

                                                <li class="list-group-item list-group-item-info"> Id:
                                                    <span class="pull-right"> [[${fileInfo.browser.id}]]</span></li>
                                                <li class="list-group-item list-group-item-info"> Browser:
                                                    <span class="pull-right">[[${fileInfo.browser.name}]]</span></li>
                                                <li class="list-group-item list-group-item-info"> Version:
                                                    <span class="pull-right">[[${fileInfo.browser.version}]]</span></li>
                                                <li class="list-group-item list-group-item-info"> Type:
                                                    <span class="pull-right">[[${fileInfo.browser.type}]]</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" style="background-color: #428bca">
                                        <div class="caption" style="color: white">
                                            <h3>Os & Ip</h3>
                                            <ul class="list-group">

                                                <li class="list-group-item list-group-item-info"> IP:
                                                    <span class="pull-right"> [[${fileInfo.ip}]]</span></li>
                                                <li class="list-group-item list-group-item-info"> OS:
                                                    <span class="pull-right">[[${fileInfo.browser.os}]]</span></li>
                                                <li class="list-group-item list-group-item-info"> DEVICE:
                                                    <span class="pull-right">[[${fileInfo.browser.deviceType}]]</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" style="background-color: #428bca">
                                        <div class="caption" style="color: white">
                                            <h3>File Info</h3>
                                            <ul class="list-group">

                                                <li class="list-group-item list-group-item-info"> Created At:
                                                    <span class="pull-right"> [[${fileInfo.createdAt}]]</span></li>
                                                <li class="list-group-item list-group-item-info"> Last Downloaded:
                                                    <span class="pull-right">[[${fileInfo.lastDownload}]]</span></li>
                                                <li class="list-group-item list-group-item-info">
                                                    <span class="badge">[[${fileInfo.downloads}]]</span>
                                                    Downloads:
                                                </li>
                                            </ul>

                                            <p><a th:href="${fileInfo.fileUrl}" class="btn btn-success" role="button">Download
                                                File</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</body>
</html>