<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link href="style.css" rel="stylesheet">
</head>
<body>

<div class="jumbotron">
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>File Transfer Utility</strong>
            <small>Upload any file up-to 500 mb</small>
        </div>
        <div class="panel-body">

            <div id="upload_info">
                <div class="panel-heading">
                    <h3 class="panel-title alert-heading">Well done!</h3>
                </div>
                <div class="panel-body" id="p_msg">
                    Panel content
                </div>
            </div>
            <!-- Standar Form -->
            <h4>Select file from your computer</h4>
            <form method="POST" enctype="multipart/form-data" action="/">
                <div>

                    <div class="form-group">
                        <label>Enter File Name</label>
                        <input id="security" type="text" name="security" maxlength="15" minlength="1" required="true"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Select File</label>
                        <input id="file" type="file" name="file" class="form-control-file" required="true"/>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
                </div>
            </form>

        </div>
    </div>

    <!-- Progress Bar -->
    <div class="progress">
        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100"
             style="width: 0%;">
            0% Complete
        </div>
    </div>

    <!-- Upload Finished -->

    <div class="panel panel-primary">
        <div class="panel-heading">Processed files</div>
        <div class="panel-body">
            <div class="list-group" th:each="file : ${files}">
                <a th:href="${file}" class="list-group-item list-group-item-success"><span
                        class="badge alert-success pull-right">Success</span>[[${file}]]</a>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="app.js"></script>
</body>
</html>